<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>О компании</h4>
          <p>Краткое описание компании, ее миссии и ценностей.</p>
        </div>
        <div class="col-md-4">
          <h4>Навигация</h4>
          <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Контакты</h4>
          <p>
            <i class="fa fa-map-marker"></i> Адрес компании<br>
            <i class="fa fa-phone"></i> Телефон<br>
            <i class="fa fa-envelope"></i> Email
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Название компании. Все права защищены.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
