{% extends "templates.html" %}

{% block title %}
Eduline
{% endblock %}

{% block head %}
{% include 'index_page_style.html' %}
<style>
    canvas {
        display: block;
    }
</style>
{% endblock %}

{% block body %}
<!-- Основное содержимое -->
<section id="canvas-section">
    <canvas id="canvas"></canvas>
</section>

<section id="first-section">
    <div class="first-section-container">
        <h2 class="first-section-title">Направления обучения</h2>
        <div class="card-container">
            <div class="card">
                <h3>Основы программирования на Python</h3>
                <p>уровень: базовый</p>
                <p>время обучения: 2 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Создание чат-ботов на Python</h3>
                <p>уровень: начинающий</p>
                <p>время обучения: 4 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Создание 2D-игр на Python</h3>
                <p>уровень: начинающий</p>
                <p>время обучения: 4 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Python PRO</h3>
                <p>уровень: продолжающий</p>
                <p>время обучения: 6 месяцев</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <h3>Сложность алгоритмов</h3>
                <p>уровень: продолжающий</p>
                <p>время обучения: 4 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Создание алгоритмов на Python</h3>
                <p>уровень: начинающий</p>
                <p>время обучения: 4 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Олимпиадное программирование</h3>
                <p>уровень: продолжающий</p>
                <p>время обучения: 4 месяца</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="card">
                <h3>Машинное обучение</h3>
                <p>уровень: продолжающий</p>
                <p>время обучения: 6 месяцев</p>
                <p>Сертификат по окончании</p>
                <a href="#">Подробнее</a>
            </div>
        </div>
    </div>
</section>

<section id="second-section">
    <div class="second-section-container">
        <div class="figure figure1">
            <img src="static/img/main_picture2.jpg" alt="Image 1">
            <h2>Обучение Python для любого возраста</h2>
            <p>Поможем Вам начать программировать в любом возрасте! Обучим Python с нуля или поможем углубить уже имеющиеся знания.</p>
        </div>
        <div class="figure figure2">
            <h2>Более 500 учеников</h2>
            <p>Более 500 учащихся доверились нам, и мы помогли им продвинуться в Python!</p>
            <h2>Более 15 курсов</h2>
            <p>Мы предлагаем Вам попробовать изучить более 15 курсов по Python для разного уровня в программировании.</p>
            <h2>Как проходит обучение?</h2>
            <p>Вы можете получить материалы бесплатно, зарегистрировавшись на нашей платформе. У Вас будет постоянный доступ ко всем имеющимся материалам!</p>
        </div>
    </div>
</section>
{% endblock %}

